body {
    font-family: sans-serif;
    font-size: 24px;
    margin: 0;
    background-color: #E0FFF4;
    color: #0054B7;
}


.over {
    border: 1px solid blue;
    height: 200px;
    overflow: auto;
}

a {
    color: #0054B7;
}

header {
    background-color: #3DD0FF;
}

main {
    padding: 50px 15%;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    gap: 0 40px;
    margin: 0 280px;
    padding: 16px 0;
}

.logo {
    width: 70px;
}

.title {
    font-weight: 700;
    font-size: 44px;
    flex-grow: 2;
    margin: 0;
}

.btn {
    padding: 0;
    margin: 0;
    width: 300px;
    height: 60px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 28px;
    color: white;
    background: rgba(0, 99, 216, 0.68);
    border: none;;
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 130px;
}

.im {
    flex-grow: 1;
}

.img-1 {
    width: 100%;
    height: 361px;
    object-fit: cover;
    border-radius: 20px;
}

.txt {
    text-align: justify;
    flex-basis: 450px;
    line-height: 1.6;
    border: #0063D8 solid 1px;
    border-radius: 20px;
    padding: 10px 20px;
    flex-grow: 1;
}

.text {
    margin: 0;
}

.instruction {
    display: flex;
    gap: 0 150px;
}

.left {
    flex-grow: 1;
}

.buttons {
    align-self: center;
    justify-self: end;
}

.item {
    display: flex;
}

.item-t {
    flex-grow: 2;
}

.item-t p {
    margin: 0 10px;
}

.i-1 {
    width: 30px;
    height: 30px;
}

.entry, .cons {
    background-color: #FF0000;
    border: 1px solid #0063D8;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
    margin: 20px 0;
}

.entry a {
    color: white;
}

.cons {
    background-color: #E0FFF4;
}

.cons a {
    color: #0054B7;
}

.forms {
    background: #96D3FF;
    border-radius: 20px;
    padding: 0 40px 20px 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 0 100px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.title-2 {
    margin: 50px 0;
    flex-basis: 100%;;
}

.col {
    flex-grow: 1;
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
}

.col-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    align-items: flex-end;
}

.res {
    font-size: 18px;
    width: 220px;
    height: 50px;
    background: #0054B7;
    border: 1px solid #0063D8;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
}

.in {
    border: none;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 15px;
    padding: 0 15px;
    color: rgb(124, 124, 124);
}

label {
    font-size: 12px;
    padding-left: 5px;
}

#date {
    display: block;
    margin-bottom: 0;
    width: 150px;
}

footer {
    background-color: #3DD0FF;
    padding: 30px 0;
}

footer p {
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-family: "Roboto Light", serif;
}

#easter-egg {
    color: red;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
}

.in:active, .in:focus {
    border: 1px solid #0054B7;
    outline: none;
}

.pl {
    border: none;
    background-color: transparent;
}

.pl:hover {
    cursor: pointer;
}

.form-popup {
    position: fixed;
    display: none;
    width: 400px;
    z-index: 9;
    left: 50%;
    margin-left: -200px;
    margin-top: 50px;
    border: 2px solid #0054B7;
    border-radius: 20px;
    box-shadow: 0 1px 17px 13px rgb(0 0 0 / 25%);
}

.login-res {
    display: none;
    text-align: center;
}

#ok, #done, #appOk {
    color: #29bd29;
}

#neOk, #neDone, #appFail {
    color: red;
}

#btn-exit {
    width: 120px;
    background-color: #FF0000;
    font-size: 18px;
    height: 40px;
}

/* Добавить стили для контейнера формы */
.form-container {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

/* Поля ввода полной ширины */
.form-container input {
    width: 90%;
    padding: 0 18px;
    background: #f1f1f1;
}

/* Когда входы получают фокус, сделайте что-нибудь */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.btn-form {
    width: 100%;
    height: 44px;
    margin-top: 10px;
    font-size: 18px;
}

.cancel {
    background-color: orangered;
}

#form-signUp {
    margin-top: -50px;
}

#white {
    width: 100%;
    height: 110vh;
    display: none;
    z-index: 5;
    position: fixed;
    background-color: white;
    opacity: 70%;
    margin-top: -150px;
}

#myForm3 {
    padding: 10px;
    background-color: white;
}

#myForm3 .form-container {
    max-height: 519px;
    overflow: auto;
}

.talon {
    display: flex;
    margin-bottom: 20px;
}

#talons p {
    margin: 0;
    font-size: 14px;
}

#talons input {
    width: auto;
}

#talons div {
    padding: 0 10px;
}

#sym p {
    margin-top: 0;
}

.d {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.dd {
    display: flex;
}

.dd p {
    margin: 0;
    font-size: 18px;
    align-self: center;
    padding-left: 10px;
}

.d .in {
    width: 100px;
    height: 30px;
    align-self: center;
    margin: 0;
}

.ss {
    margin: 0;
    font-size: 18px;
}

#btn-app {
    display: none;
    font-size: 18px;
    width: 120px;
    height: 40px;
}

.appointment {
    border-radius: 20px;
    border: 1px solid blue;
    padding: 10px;
    margin-bottom: 15px;
}

.app p {
    font-size: 18px;
    margin: 0 0 5px;
}

.delApp {
    background-color: red;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.delApp:hover {
    cursor: pointer;
}