<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js" defer></script>
    <title>ISDB</title>
</head>
<body>
<header>
    <div class="head">
        <div class="container">
            <a href="/"><img src="/assets/logo.png" alt="logo" class="logo"></a>
            <p class="title"><a href="/">Мой доктор</a></p>
            <button id="btn-one" class="btn" onclick="openForm('myForm')">Личный кабинет</button>
        </div>
    </div>
</header>
<div class="form-popup" id="myForm">
    <div class="form-container" id="form-hidden-1">
        <h4><a href="#" onclick="openForm('myForm')">Войти</a>/<a href="#" onclick="openForm('form-signUp')">
            Зарегистрироваться</a></h4>

        <label for="login"><b>Логин</b></label>
        <label>
            <input id="login" class="in" type="text" placeholder="Введите логин" name="login" required>
        </label>

        <label for="psw"><b>Пароль</b></label>
        <label>
            <input id="psw" class="in" type="password" placeholder="Введите пароль" name="psw" required>
        </label>

        <button type="submit" class="btn btn-form" onclick="comeIn()">Войти</button>
        <button type="submit" class="btn btn-form cancel" onclick="closeForm('myForm')">Закрыть</button>

        <p id="ok" class="login-res">Вход выполнен!</p>
        <p id="neOk" class="login-res">Ошибка входа</p>
    </div>
</div>
<div class="form-popup" id="form-signUp">
    <div class="form-container" id="form-hidden-2">
        <h4><a href="#" onclick="openForm('myForm')">Войти</a>/<a href="#" onclick="openForm('form-signUp')">
            Зарегистрироваться</a></h4>

        <label for="fio"><b>ФИО</b></label>
        <label>
            <input id="fio" class="in" type="text" placeholder="Ваши ФИО" name="fio" required>
        </label>

        <label for="bd"><b>Дата рождения</b></label>
        <label>
            <input id="bd" class="in" type="date" placeholder="01.01.2000" name="bd" required>
        </label>

        <label for="tel"><b>Номер телефона</b></label>
        <label>
            <input id="tel" class="in" type="tel" placeholder="+7 999 999 99 99" name="tel" required>
        </label>

        <label for="region"><b>Район проживания</b></label>
        <label>
            <input id="region" class="in" type="text" placeholder="Район" name="region" required>
        </label>

        <label for="address"><b>Адрес проживания</b></label>
        <label>
            <input id="address" class="in" type="text" placeholder="Ваш адрес" name="address" required>
        </label>

        <label for="username"><b>Придумайте логин</b></label>
        <label>
            <input id="username" class="in" type="text" placeholder="Ваш адрес" name="Логин" required>
        </label>

        <label for="password"><b>Придумайте пароль</b></label>
        <label>
            <input id="password" class="in" type="password" placeholder="Пароль" name="password" required>
        </label>

        <button type="submit" class="btn btn-form" onclick="signUp()">Регистрация</button>
        <button type="submit" class="btn btn-form cancel" onclick="closeForm('form-signUp')">Закрыть</button>

        <p id="done" class="login-res">Вы успешно зарегистрировались!</p>
        <p id="neDone" class="login-res">Ошибка регистрации</p>
    </div>
</div>
<div class="form-popup" id="myForm2">
    <div class="form-container">
        <h4>Рекомендации</h4>
        <div id="recommendations">
        </div>
        <h4>Тип лечения</h4>
        <div id="treat_type">
        </div>
        <h4>Специалисты</h4>
        <div id="rec_specialists">
        </div>
        <button type="submit" class="btn btn-form cancel" onclick="closeForm('myForm2')">Закрыть</button>
    </div>
</div>

<div class="form-popup" id="myForm3">
    <div id="talonRes" class="form-container">
        <h4>Доступные талоны:</h4>
        <div id="talons">
        </div>
        <button id="registration" type="submit" class="btn btn-form" onclick="registration()">Записаться</button>
        <button type="submit" class="btn btn-form cancel" onclick="closeForm('myForm3')">Отмена</button>
    </div>
</div>

<div id="white"></div>
<main id="main">

    <div class="description">
        <div class="im">
            <img src="/assets/img1.png" alt="img" class="img-1">
        </div>
        <div class="txt">
            <p class="text">Мой Доктор - это уникальный сервис для... С помощью него вы сможете записаться на приём к
                врачу или вызвать врача на дом, а также определиться, к какому именно специалисту вам следует обратиться
                - для этого вам необходимо указать свои симптомы, а данный сервис самостоятельно определит вам нужного
                врача.</p>
        </div>
    </div>
    <div class="instruction">
        <div class="left">
            <h2 class="title-2">Как пользоваться сервисом?</h2>
            <div class="list">
                <div class="item">
                    <img src="/assets/i-1.png" alt="one" class="i-1">
                    <div class="item-t">
                        <p>Выберите, что вы хотите сделать:<br>записаться к врачу или получить информацию.</p>
                        <hr>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/i-2.png" alt="two" class="i-1">
                    <div class="item-t">
                        <p>Заполните необходимые данные или проверьте правильность введённых данных (если вы
                            авторизовались на сайте).</p>
                        <hr>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/i-3.png" alt="three" class="i-1">
                    <div class="item-t">
                        <p>Если вы вызываете врача - оставьте заявку и ожидайте подтверждения. </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="btn entry">
                <a href="#form-1">Записаться к врачу</a>
            </button>
            <button class="btn cons">
                <a href="#form-2">Консультация</a>
            </button>
        </div>
    </div>
    <div id="form-1" class="forms">
        <h2 class="title-2">Записаться к врачу</h2>
        <div class="col" id="form-appoint">
            <label for="name">Как вас зовут?</label>
            <input id="name" type="text" class="in" placeholder="ФИО">
            <label for="db">Дата рождения</label>
            <input id="db" type="date" class="in" placeholder="Дата рождения">
            <label for="phone">Ваш телефон</label>
            <input id="phone" type="tel" class="in" placeholder="+7 999 999 99 99">
            <label for="addr">Адрес проживания</label>
            <input id="addr" type="text" class="in" placeholder="Адрес">
            <label for="distr">Район проживания</label>
            <input id="distr" type="text" class="in" placeholder="Район">
        </div>
        <div class="col">
            <label for="dist">Район поликлиники</label>
            <select id="dist" name="district" class="in">
                <option selected>-</option>
            </select>
            <label for="hospital">Поликлиника</label>
            <select id="hospital" name="hospital" class="in">
                <option selected>-</option>
            </select>
            <label for="specialist">Специалист</label>
            <select id="specialist" name="specialist" class="in">
                <option selected>-</option>
            </select>
            <label for="doctor">ФИО врача</label>
            <select id="doctor" name="doctor" class="in">
                <option selected>-</option>
            </select>
        </div>
        <div class="col-bottom">
            <div>
                <label for="date">Желаемая дата записи</label>
                <input id="date" type="date" class="in" placeholder="Желаемая дата приёма">
            </div>
            <button onclick="show_ticket()" class="btn res">Показать подходящие варианты</button>
        </div>
    </div>
    <div id="form-2" class="forms">
        <h2 class="title-2">Определить специалиста</h2>
        <div class="col" id="sym">
            <p>Выберите симптомы и оцените тяжесть по шкале от 1 до 5</p>
            <div class="over"></div>
        </div>
        <div class="col-bottom">
            <label>&nbsp;</label>
            <button class="btn res" onclick="sendResults()">Показать результаты</button>
        </div>
    </div>
</main>
<footer>
    <p><a href="/assets/viola.png" id="easter-egg">Все права защищены, копирование очень жестоко карается</a></p>
</footer>
</body>
</html>